//Index
table {
    tbody {
        tr {
            td,th {
                text-align: center;
            }
        }
    }
}

@font-face {
    font-family: Gistesy;
    src: url(../fonts/Gistesy.ttf) format("truetype");
}

#brand-store {
    font-family: Gistesy;
    color: rgb(15,158,162);
}

