@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="d-flex flex-md-row flex-column gap-4">
    <div class="d-flex flex-md-row flex-column gap-2">
        <img class="rounded-circle" src="~/Content/imgfeedback/128852460_m.jpg" width="50%" height="50%" />
        <p class="text-justify">
            Tôi và gia đình đã có trải nghiệm tuyệt vời tại Ugani. Những món sushi tại đây không chỉ ngon mà còn tinh tế đến từng chi tiết.
        </p>
    </div>
    <div class="d-flex flex-md-row flex-column gap-2">
        <img class="rounded-circle" src="~/Content/imgfeedback/jaunt-and-joy-ft2uNDDP0HU-unsplash.jpg" width="50%" height="50%" />
        <p class="text-justify">
            Ugani là nơi tôi đến để tìm lại hòa bình và thư giãn. Mỗi lần đến đây, tôi có cảm giác như đang tham gia vào một buổi biểu diễn nghệ thuật thực phẩm. Đây là một nơi tuyệt vời để trải nghiệm ẩm thực Nhật Bản đích thực.
        </p>
    </div>
    <div class="d-flex flex-md-row flex-column gap-2">
        <img class="rounded-circle" src="~/Content/imgfeedback/brooke-cagle-nZp9JF-OyiE-unsplash.jpg" width="50%" height="50%" />
        <p class="text-justify">
            Tôi đã đến đây nhiều lần và luôn bị ấn tượng bởi chất lượng của sushi và dịch vụ tận tâm. Mọi viên sushi đều được làm tỉ mỉ và tinh tế, và tôi luôn cảm nhận được sự đam mê của đầu bếp trong từng miếng sushi.
        </p>
    </div>
    <div class="d-flex flex-md-row flex-column gap-2">
        <img class="rounded-circle" src="~/Content/imgfeedback/ha-nguy-n-bLpMy2UDnOc-unsplash.jpg" width="50%" height="50%" />
        <p class="text-justify">
            Ugani không chỉ là một nhà hàng, mà còn là một trải nghiệm nghệ thuật. Tôi đã đến Ugani nhiều lần và lúc nào cũng phải khen ngợi chất lượng và sự sáng tạo của họ.
        </p>
    </div>
</div>
